In [2]:
from bs4 import BeautifulSoup
from pprint import pprint
import requests
import pandas as pd
import json

In [3]:
url = r'https://de.wikipedia.org/wiki/Ballon_d’Or'

In [4]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
print(response.status_code)
table = soup.find('table', class_= 'wikitable sortable')

200

In [30]:
table_data = []
for row in table.find_all('tr'):
    row_data = []
    for cell in row.find_all(['th', 'td']):
        row_data.append(cell.title)
    if row_data and row_data[0].isdigit():
        table_data.append(row_data)

AttributeError: 'NoneType' object has no attribute 'isdigit'

In [22]:
table_data = []
trs = table.find_all('tr')
for tr in trs:
    row_data = []
    tds = tr.find_all('td')
    for td in tds:
        _a = td.find_all('a')
        for a in _a:
            row_data.append(a.text.strip())
    if row_data and row_data[0].isdigit():
        table_data.append(row_data)

In [23]:
table_data[0]

['1956',
 'Stanley Matthews',
 '',
 'England',
 '',
 'FC Blackpool',
 '',
 'Alfredo Di Stéfano',
 '',
 'Raymond Kopa']

In [26]:
df = pd.DataFrame()
df['year'] = [row[0] for row in table_data]
df['#1'] = [row[1] for row in table_data]
df['#2'] = [row[7] for row in table_data]
df['#3'] = [row[9] for row in table_data]

In [30]:
df

    year                  #1                   #2                 #3
0   1956    Stanley Matthews   Alfredo Di Stéfano       Raymond Kopa
1   1957  Alfredo Di Stéfano         Billy Wright     Duncan Edwards
2   1958        Raymond Kopa          Helmut Rahn      Just Fontaine
3   1959  Alfredo Di Stéfano         Raymond Kopa       John Charles
4   1960         Luis Suárez        Ferenc Puskás         Uwe Seeler
..   ...                 ...                  ...                ...
61  2017   Cristiano Ronaldo         Lionel Messi             Neymar
62  2018         Luka Modrić    Cristiano Ronaldo  Antoine Griezmann
63  2019        Lionel Messi      Virgil van Dijk  Cristiano Ronaldo
64  2021        Lionel Messi  Paris Saint-Germain
65  2022       Karim Benzema           Sadio Mané    Kevin De Bruyne

[66 rows x 4 columns]

In [28]:
df.to_csv('winner.csv', index=False)